* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #1c1c1c, #4e4e4e);
  color: white;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CalcContainer {
  background: linear-gradient(145deg, #333333, #1e1e1e);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  width: 350px;
}

.DispContainer {
  margin-bottom: 20px;
}

.Display {
  font-size: 36px;
  background-color: #000;
  color: #39ff14;
  padding: 20px;
  border-radius: 10px;
  min-height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}

.ButtonsContainer {
  display: grid;
  gap: 10px;
}

.btn-box1,
.btn-box2,
.btn-box3,
.btn-box4 {
  display: flex;
  justify-content: space-between;
}

.btn-box5 {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  background: linear-gradient(145deg, #454545, #2e2e2e);
  color: #fff;
  font-size: 22px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 70px;
  transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
  background: linear-gradient(145deg, #5e5e5e, #3e3e3e);
  transform: scale(1.05);
}

button:active {
  background: linear-gradient(145deg, #2e2e2e, #1c1c1c);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}

button:nth-child(4) {
  background: linear-gradient(145deg, #ff4b2b, #ff416c);
}

button:nth-child(4):hover {
  background: linear-gradient(145deg, #ff5f56, #ff6181);
}

button#surname {
  background: linear-gradient(145deg, #5e5e5e, #3e3e3e);
  width: calc(70px * 4 + 30px);
  padding: 20px; 
  font-size: 28px; 
  margin-top: 10px;
}

button#surname:hover {
  background: linear-gradient(145deg, #5e5e5e, #3e3e3e);
}

button#surname:active {
  background: linear-gradient(145deg, #5e5e5e, #3e3e3e);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}
